.form {
  width: 100%;
  display: grid;
  grid-template: 8rem auto;
  justify-content: stretch;
  place-items: stretch;
  gap: 1rem;

  p {
    text-align: center;
    margin: 0;
  }

  span {
    display: block;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  button {
    min-width: 8rem;
  }
}
