.button {
  border: none;
  background: none;
  padding: 0;
}

.small {
  padding: 1rem;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.medium {
  padding: 1rem;
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.large {
  padding: 2rem;

  svg {
    width: 5rem;
    height: 5rem;
  }
}
